.banner{
  width: 100%;
  position: relative;

}
.banner img{
  width: 100%;
}
.bannerText{
  position: absolute;
  text-align: center;
  top: 50%;
  margin-left: 35%;

}
.logo{
  position: absolute;
  top:10%;
  margin-left: 40%;
}
.space{
  margin: 50px;
}
.fastfood{
  float: left;
}
.space2 {
  margin: 50px;
}
.drinks {
  float: right;
}
.spacebreak {
  margin: 110px;
}
.lastimage img {
  position: relative;
  width: 100%

}
.foodsbg{
  width: 100%;
}
.spacebreak2 {
  margin: 100px;
}
