.landing {
 background-image: url(../ip2/assets/backgrounds/landing.jpg);
 height: 600px;
 width: 100%;

}
.logo {
  margin-left: 380px;
  padding-top: 100px;
}
.logoText {

  color: white;
  font-size: 30px;
  font-style: italic;
  text-align: center;

}
.space{
  margin: 60px;
}
.button2 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #2e282e;
  font-size: 32px;
  background: #ffffff;
  padding: 14px 25px 22px 85px;
  text-decoration: none;
  display: block;
}
.button1 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #2e282e;
  font-size: 32px;
  background: #ffffff;
  padding: 14px 25px 22px 105px;
  text-decoration: non0
  display: block;
}

.button2:hover {
  background: #fc693c;
  text-decoration: none;
  }
.button1:hover{
  background: #fc693c;
  text-decoration: none;
  }
.breakfast:hover {
    background-color: #ffffff;
    opacity: .4;
 }
 .lunch:hover {
   background-color: #ffffff;
   opacity: .4;
 }
 .dinner:hover {
   background-color: #ffffff;
   opacity: .4;
 }
 .text1:hover {
   color: black;
 }

.text1 {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-left: 28%;
  font-size: 10px;
  color: white;
}.breakfast {
  padding: 0px;
}

.drinks {
  float: left;
}
.spacebreak {
  margin: 20px;
}
.lastimage img {
  position: relative;
  width: 100%
}
.foodsbg{
  width: 100%;
  margin-bottom: 50px;
}

.spacebreak2 {
  margin: 100px;
}

.fastfood {
margin-left:50px;
-webkit-box-shadow: 15px 8px 28px 13px rgba(234,236,237,1);
-moz-box-shadow: 15px 8px 28px 13px rgba(234,236,237,1);
box-shadow: 15px 8px 28px 13px rgba(234,236,237,1);
border: 2px;
margin-bottom: 40px;

}
.navbar{
  height: 80px;
}
.nvbar ul{
  display: inline-block;
}
.nvbar ul li{
  display: inline;

}
.nvbar ul li a{
  display: inline-block;
}
.drinks {
margin-right: 40px;
-webkit-box-shadow: -1px 2px 4px 22px rgba(245,240,245,1);
-moz-box-shadow: -1px 2px 4px 22px rgba(245,240,245,1);
box-shadow: -1px 2px 4px 22px rgba(245,240,245,1);
margin-bottom: 100px;
margin-top: 50px
}
.fastp {
  margin-right: 40px;
}
.drinkp {
  margin-left: 40px;
  margin-top: 60px;
}
.foodsbg {
  background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
  height: 600px;

}
.bgfood{
  width: 60%;
  background-color: #fff;
  margin-left: 20%;
  height: 400px;
  margin-top: 10px;
}
table {
  background-color: white;
  width: 60%;
  margin-left: 400px;
}

.imgbox {
  padding-left: 270px;
}

.customers {
  text-align: center;
  color: #FF5533
}
.name {
  text-align: center;

}
.comment {
  text-align: center;
}
.about {
  text-align: center;
  color: #FF5533;
}
.aboutmenu {
  border-left: 1px solid grey;
}
.aboutmenu p{
  margin-left: 10px;
}
.subscribe {
  background-image: url(../ip2/assets/backgrounds/subscribe.jpg);
  height: 300px;
  margin-top: 40px;

}
.deliver {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 100px;
}
.orange {
  background-color: #F95006;
  height: 300px;
}
.logowhite {
  padding-top: 100px;
  padding-left: 500px;
  color: white;
}
.hheading {
  font-size: 16px;
  font-style: oblique;
  margin-left: 500px;
  color: white;
}
.pnglogos {
  margin-left: 500px;
}
.lasthead {
  margin-left: 510px;
  margin-top: 30px;
  font-style: normal;
  font-size: 10px;
  color: white;
}
input [type=text] {
  font-size: 20px;
  background-color: #ffffff;
  opacity: 0.6;
  color: #fff;
  object-position: center;
}
.butn-custom{
  background-color: #ff751a;
  color:#fff;
  font-size: 17px;
  width: 180px;
  letter-spacing: 2px;
}
.form-control{
  height: 90px;
  border-color:transparent;
  width: 100px;
}
.input-group{
  width: 750px;
  text-align: center;
  margin-left: 180px;
}
.slider-img {
  padding-top: 40px;
  width: 700px;
}
.img-box {
  padding-left: 200px;
  margin-right: 200px;
}
